.skillStyle {
  width: 90%;
  height: 93vh;
  margin: 0 auto;
  background-color: rgb(231, 248, 205);
  color: rgb(54, 54, 54);
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 0;
  align-items: center;
}

@media (max-width: 1000px) {
  .skillStyle {
    flex-direction: column-reverse;
  }
}
@media (max-width: 780px) {
  .skillStyle {
    margin-top: 20%;
  }
}

@media (max-width: 550px) {
  .skillStyle {
    margin-top: 35%;
  }
}
@media (max-width: 450px) {
  .skillStyle {
    margin-top: 40%;
  }
}

.tileHolder {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  .tileHolder {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

